* @fshabanov @Coxaini @watchlar2000
/.github/ISSUE_TEMPLATE/ @MarharytaR @dmytrotaranenko-cmyk @fshabanov @Coxaini @watchlar2000
/qa/ @MarharytaR @dmytrotaranenko-cmyk @fshabanov @Coxaini @watchlar2000
