.accent {
	color: var(--text-accent);
}

.danger {
	color: var(--fg-danger);
}

.muted {
	color: var(--text-muted);
}

.neutral {
	color: var(--text-strong);
}

.success {
	color: var(--fg-success);
}
