.no-access-page-content {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100dvh;
	background-color: #0f1115;
}

@media (width <= 480px) {
	.no-access-page-content {
		padding: 24px;
	}
}
