#
# APP
#
NODE_ENV=local
PORT=3001
HOST=localhost

#
# DATABASE
#
DB_USERNAME=db_username
DB_PASSWORD=db_user_password
DB_HOST=localhost
DB_PORT=db_port
DB_NAME=db_name
DB_DIALECT=pg
DB_POOL_MIN=2
DB_POOL_MAX=10

# JWT
JWT_SECRET=this_is_a_super_secret_jwt_key_that_is_at_least_64_characters_long
JWT_EXPIRES_IN=24h
JWT_ALG=HS256

#
# HASHING
#
SALT_LENGTH=16
